@import '../common/main';

.card{
    width: 158px;
    border: none;
    
    &:hover{
        // background-color: rgba(var(--bgColor), 0.125);
    }
}

.card-body{
    color: var(--textColor);
}

.card-title{
    font-size: 12px;
    text-transform: capitalize;
}

.card-text{
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
}

.table-section{
    margin-top: 64px;
    margin-bottom: 64px;
}

.heading__text{
    font-size: 32px;
    font-weight: 600;
}